<div class="col-md-3">
  <%= render 'users/userinfo', user: @user %>
  <%= render 'books/newbook', book: @book %>
</div>

<div class="col-md-8 offset-md-1">
  <h2>Users</h2>
  <table class="table">
    <thred>
      <tr>
        <th>image</th>
        <th>name</th>
        <th colspan="3"></th>
      </tr>
    </thred>
    <% @users.each do |user| %>
    <tbody>
      <tr>
        <td>
          <%= link_to user_path(user) do %>
            <%= image_tag user.get_profile_image(50,50) %>
          <% end %>
        </td>
        <td>
          <%= user.name %>
        </td>
        <td>
          <%= link_to "Show", user_path(user) %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>



